CITProject/SOA/Schemas/CITProcess.xsd

<?xml version="1.0" encoding="UTF-8"?> 
<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://xmlns.oracle.com/ContinousIntegrationApplication/CITProject/CITProcess"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="process">
		<complexType>
			<sequence>
				<element name="first" type="int"/>
    <element name="second" type="int"/>
   </sequence>
		</complexType>
	</element>
	<element name="processResponse">
		<complexType>
			<sequence>
				<element name="result" type="int"/>
			</sequence>
		</complexType>
	</element>
</schema>